#### Importing necessary Libraries

In [2]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.request import Request, urlopen
import requests

#### WebScraping using BeautifulSoup

In [3]:
site= "https://www.worldometers.info/coronavirus"
hdr = {'User-Agent': 'Mozilla/5.0'}
req = Request(site,headers=hdr)
page = urlopen(req)
soup = BeautifulSoup(page,'html.parser')
print(soup)

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<title>Coronavirus Update (Live): 7,356,857 Cases and 414,470 Deaths from COVID-19 Virus Pandemic - Worldometer</title>
<meta content="Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 coronavirus from Wuhan, China. Coronavirus counter with new cases, deaths, and number of tests per 1 Million population. Historical data and info. Daily charts, graphs, news and updates" name="description"/>
<link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
<link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
<link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
<link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
<link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
<link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
<link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
<link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
<link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
<link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
<link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
<link href="/favicon/manifest.json" rel="manifest"/>
<meta content="#ffffff" name="msapplication-TileColor"/>
<meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
<meta content="#ffffff" name="theme-color"/>
<meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
<link href="/css/bootstrap.min.css" rel="stylesheet"/>
<link href="/wm16.css" rel="stylesheet"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/ie10-viewport-bug-workaround.js"></script>
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript"></script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
		$.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
	</script>
<script class="init" type="text/javascript">
$(document).ready(function() {
	$('#popbycountry').dataTable();
} );
	</script>
<script data-cfasync="false" type="text/javascript">
  var freestar = freestar || {};
  freestar.hitTime = Date.now();
  freestar.queue = freestar.queue || [];
  freestar.config = freestar.config || {};
  freestar.debug = window.location.search.indexOf('fsdebug') === -1 ? false : true;
  freestar.config.enabled_slots = [];
  !function(a,b){var c=b.getElementsByTagName("script")[0],d=b.createElement("script"),e="https://a.pub.network/worldometers-info";e+=freestar.debug?"/qa/pubfig.min.js":"/pubfig.min.js",d.async=!0,d.src=e,c.parentNode.insertBefore(d,c)}(window,document);
</script>
</link></meta></head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1438574-2', 'auto');
  ga('send', 'pageview');
</script>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1438574-30"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1438574-30');
</script>
<link href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" rel="stylesheet" type="text/css">
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#8ec760",
      "text": "#ffffff"
    }
  },
  "theme": "classic",
  "content": {
    "href": "http://www.worldometers.info/policy/"
  }
})});
</script> <style type="text/css">
    .style1 {
        color: #666666
    }
</style>
<div class="navbar navbar-default">
<div class="container">
<div class="navbar-header">
<div class="logo"><a class="navbar-brand" href="/"><img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/></a></div>
<button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav">
<li><a href="/coronavirus/"><span style="color:#FF9900; font-weight:bold">Coronavirus</span></a></li>
<li><a href="/population/">Population</a></li>
</ul>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div style="text-align:left; margin-bottom:10px">
<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-slot="3287840995" style="display:inline-block;width:970px;height:90px"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="row"> <div class="col-md-8">
<div class="content-inner">
<style>
    .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
</style>
<script src="/js/highcharts.js"></script>
<style type="text/css">
    <!--
    .source { }

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }    .source111 {

    } .source1111 {
        font-size: 12px;
        color: #bbb;
    }



    -->
</style>
<div class="label-counter" id="page-top">COVID-19 Coronavirus Pandemic</div>
<div style="font-size:13px; color:#999; margin-top:5px; text-align:center">Last updated: June 10, 2020, 14:07 GMT</div>
<div style="margin-top:20px; text-align:center; font-size:14px"><a href="/coronavirus/coronavirus-cases/"> </a><a href="/coronavirus/worldwide-graphs/">Graphs</a> - <a href="#countries">Countries</a> - <a href="/coronavirus/coronavirus-death-rate/">Death Rate</a> - <a href="/coronavirus/coronavirus-symptoms/">Symptoms</a> - <a href="/coronavirus/coronavirus-incubation-period/">Incubation</a> -<strong> </strong><strong> </strong><a href="/coronavirus/transmission/">Transmission</a> - <a href="#news">News</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Coronavirus Cases:</h1>
<div class="maincounter-number">
<span style="color:#aaa">7,356,857 </span>
</div>
</div>
<div style="text-align:center "><a href="#countries">view by country</a></div>
<div id="maincounter-wrap" style="margin-top:15px">
<h1>Deaths:</h1>
<div class="maincounter-number">
<span>414,470</span>
</div>
</div>
<div id="maincounter-wrap" style="margin-top:15px;">
<h1>Recovered:</h1>
<div class="maincounter-number" style="color:#8ACA2B ">
<span>3,630,218</span>
</div>
</div>
<div style="margin-top:50px;"></div>
<style>
    .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }
</style>
<script>
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });
    });
</script>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading" style="text-align:center">
<span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
Active Cases
</span>
</div>
<div class="panel-body" style="text-align:center; height:200px;">
<div class="panel_flip">
<div class="panel_front" style="width:100%;height:100%;">
<div class="number-table-main">3,312,169</div>
<div style="font-size:13.5px">Currently Infected Patients</div>
<div style="padding-top:20px;position:relative;text-align:center; ">
<div style="float:left; text-align:center">
<span class="number-table" style="color:#8080FF">3,258,207</span> (<strong>98</strong>%)
<div style="font-size:13px">in Mild Condition</div><br/>
</div>
<div style="float:right; text-align:center"><span class="number-table" style="color:red ">53,962</span> (<strong>2</strong>%)
<div style="font-size:13px">Serious or Critical</div><br/>
</div>
</div>
<a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">Show Graph</a>
</div>
<div class="panel_back" style="width:100%;height:100%;">
<div id="total-currently-infected-linear"></div>
<script type="text/javascript">
    Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {
            categories: ["Jan 22","Jan 23","Jan 24","Jan 25","Jan 26","Jan 27","Jan 28","Jan 29","Jan 30","Jan 31","Feb 01","Feb 02","Feb 03","Feb 04","Feb 05","Feb 06","Feb 07","Feb 08","Feb 09","Feb 10","Feb 11","Feb 12","Feb 13","Feb 14","Feb 15","Feb 16","Feb 17","Feb 18","Feb 19","Feb 20","Feb 21","Feb 22","Feb 23","Feb 24","Feb 25","Feb 26","Feb 27","Feb 28","Feb 29","Mar 01","Mar 02","Mar 03","Mar 04","Mar 05","Mar 06","Mar 07","Mar 08","Mar 09","Mar 10","Mar 11","Mar 12","Mar 13","Mar 14","Mar 15","Mar 16","Mar 17","Mar 18","Mar 19","Mar 20","Mar 21","Mar 22","Mar 23","Mar 24","Mar 25","Mar 26","Mar 27","Mar 28","Mar 29","Mar 30","Mar 31","Apr 01","Apr 02","Apr 03","Apr 04","Apr 05","Apr 06","Apr 07","Apr 08","Apr 09","Apr 10","Apr 11","Apr 12","Apr 13","Apr 14","Apr 15","Apr 16","Apr 17","Apr 18","Apr 19","Apr 20","Apr 21","Apr 22","Apr 23","Apr 24","Apr 25","Apr 26","Apr 27","Apr 28","Apr 29","Apr 30","May 01","May 02","May 03","May 04","May 05","May 06","May 07","May 08","May 09","May 10","May 11","May 12","May 13","May 14","May 15","May 16","May 17","May 18","May 19","May 20","May 21","May 22","May 23","May 24","May 25","May 26","May 27","May 28","May 29","May 30","May 31","Jun 01","Jun 02","Jun 03","Jun 04","Jun 05","Jun 06","Jun 07","Jun 08","Jun 09"]
        },

        yAxis: {
            title: {
                text: 'Currently Infected',
                enabled: false

            }
            /*tickInterval: 20000,*/

            /*categories: [0,50000],
            labels: {

                format: "{value:,.%0f}"
            }*/
            /*labels: {
                step: 15
            }*/

        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            enabled: false
        },

        credits: {
            enabled: false
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false
                }
            }
        },


        series: [{
            name: 'Currently Infected',
            color: '#00DDDD',
            lineWidth: 5,
            data: [563,786,1238,1910,2669,4415,5823,7519,9439,11448,13921,16525,19561,23146,26528,29239,32069,34055,36320,38038,39216,52039,56247,57378,57990,58581,58747,58622,57217,55906,54418,53541,51596,49922,48014,46215,43730,42262,41298,40413,39222,38872,38515,39426,40957,42347,43909,46369,48101,53401,59254,67525,74746,85558,95661,107622,124659,146920,172841,196767,224474,260724,295309,336105,384545,436801,491115,539056,585242,642008,698225,754357,816404,874249,923258,975691,1022894,1071419,1124589,1189622,1236610,1282063,1325549,1357621,1400949,1437953,1490322,1537611,1577801,1625393,1649124,1694371,1743039,1771277,1815641,1861859,1882352,1918584,1944592,1985149,2033010,2069175,2114481,2148347,2177418,2207375,2255828,2304247,2334615,2370529,2404916,2413923,2437547,2483782,2523894,2562065,2594061,2631200,2668210,2701326,2743999,2739251,2775553,2813158,2836559,2858373,2891280,2918992,2972751,3014182,3010188,3055069,3058543,3020211,3063838,3110944,3159161,3220708,3249989,3299794]        }],

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }

    });
</script>
<a class="flip_cases_back" href="javascript: void(0);" style="clear: both;position: absolute;width:100%;bottom:-8px;left:0;">Show Statistics</a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading" style="text-align:center;">
<span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
Closed Cases</span></div>
<div class="panel-body" style="text-align:center;height:200px;">
<div class="panel_flip">
<div class="panel_front" style="width:100%;height:100%;">
<div class="number-table-main">4,044,688</div>
<div style="font-size:13.5px">Cases which had an outcome:</div>
<div style="padding-top:20px ">
<div style="float:left; text-align:center">
<span class="number-table" style="color:#8ACA2B">3,630,218</span>
(<strong>90</strong>%)
<div style="font-size:13px">Recovered / Discharged</div><br/>
</div>
<div style="float:right; text-align:center"><span class="number-table">
414,470</span>
(<strong>10</strong>%)
<div style="font-size:13px">Deaths</div><br/>
</div>
</div>
<a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;position:absolute;bottom:-8px;width:100%;">Show Graph</a>
</div>
<div class="panel_back" style="width:100%;height:100%;">
<div id="deaths-cured-outcome-small"></div>
<script type="text/javascript">
    Highcharts.chart('deaths-cured-outcome-small', {
        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'

        },
        title: {
            text: ''

        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.y:.2f}%</b>'
        },



       /* subtitle: {
            text: '(Cumulative total deaths and recoveries over cumulative number of closed cases)'
        },*/

        xAxis: {
            categories: ["Feb 02","Feb 03","Feb 04","Feb 05","Feb 06","Feb 07","Feb 08","Feb 09","Feb 10","Feb 11","Feb 12","Feb 13","Feb 14","Feb 15","Feb 16","Feb 17","Feb 18","Feb 19","Feb 20","Feb 21","Feb 22","Feb 23","Feb 24","Feb 25","Feb 26","Feb 27","Feb 28","Feb 29","Mar 01","Mar 02","Mar 03","Mar 04","Mar 05","Mar 06","Mar 07","Mar 08","Mar 09","Mar 10","Mar 11","Mar 12","Mar 13","Mar 14","Mar 15","Mar 16","Mar 17","Mar 18","Mar 19","Mar 20","Mar 21","Mar 22","Mar 23","Mar 24","Mar 25","Mar 26","Mar 27","Mar 28","Mar 29","Mar 30","Mar 31","Apr 01","Apr 02","Apr 03","Apr 04","Apr 05","Apr 06","Apr 07","Apr 08","Apr 09","Apr 10","Apr 11","Apr 12","Apr 13","Apr 14","Apr 15","Apr 16","Apr 17","Apr 18","Apr 19","Apr 20","Apr 21","Apr 22","Apr 23","Apr 24","Apr 25","Apr 26","Apr 27","Apr 28","Apr 29","Apr 30","May 01","May 02","May 03","May 04","May 05","May 06","May 07","May 08","May 09","May 10","May 11","May 12","May 13","May 14","May 15","May 16","May 17","May 18","May 19","May 20","May 21","May 22","May 23","May 24","May 25","May 26","May 27","May 28","May 29","May 30","May 31","Jun 01","Jun 02","Jun 03","Jun 04","Jun 05","Jun 06","Jun 07","Jun 08","Jun 09"]        },

        yAxis: {
            title: {
                text: 'Percent (%)',
                enabled: false
            },
            labels: {

                format: "{value}%"
            },

In [4]:
soup = soup.find_all("table")
soup

[<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
 <thead>
 <tr>
 <th width="1%">#</th>
 <th width="100">Country,<br>Other</br></th>
 <th width="20">Total<br>Cases</br></th>
 <th width="30">New<br>Cases</br></th>
 <th width="30">Total<br>Deaths</br></th>
 <th width="30">New<br>Deaths</br></th>
 <th width="30">Total<br>Recovered</br></th>
 <th width="30">New<br>Recovered</br></th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 </tr>
 </thead>
 <tbody>
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>2,334,502</td>
 <td>+6,782</td>
 <td>138,645</td>
 <td>+706</td>
 <td>966,726</td>
 <td>+3,318</td>
 <td>1,229,131</td>
 <td>19,443</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>1,219,723</td>
 <td>+695</td>
 <td>52,857</td>
 <td>+12</td>
 <td>564,277</td>
 <td>+454</td>
 <td>602,589</td>
 <td>11,932</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>2,136,663</td>
 <td>+11,276</td>
 <td>180,564</td>
 <td>+380</td>
 <td>1,119,059</td>
 <td>+13,637</td>
 <td>837,040</td>
 <td>6,986</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>1,449,500</td>
 <td>+25,230</td>
 <td>36,684</td>
 <td>+387</td>
 <td>877,604</td>
 <td>+13,372</td>
 <td>535,212</td>
 <td>15,092</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>206,861</td>
 <td>+1,341</td>
 <td>5,581</td>
 <td>+13</td>
 <td>93,569</td>
 <td>+655</td>
 <td>107,711</td>
 <td>502</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>8,887</td>
 <td>+9</td>
 <td>124</td>
 <td></td>
 <td>8,332</td>
 <td>+24</td>
 <td>431</td>
 <td>3</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>651</td>
 <td></td>
 <td>55</td>
 <td>4</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>7,356,857</td>
 <td>+45,333</td>
 <td>414,470</td>
 <td>+1,498</td>
 <td>3,630,218</td>
 <td>+31,460</td>
 <td>3,312,169</td>
 <td>53,962</td>
 <td>944</td>
 <td>53.2</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <td>
 </td>
 <td></td>
 <td></td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">2,047,147</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,598</td>
 <td style="font-weight: bold; text-align:right;">114,223 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+75</td>
 <td style="font-weight: bold; text-align:right">788,916</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+54</td>
 <td style="text-align:right;font-weight:bold;">1,144,008</td>
 <td style="font-weight: bold; text-align:right">16,875</td>
 <td style="font-weight: bold; text-align:right">6,187</td>
 <td style="font-weight: bold; text-align:right">345</td>
 <td style="font-weight: bold; text-align:right">22,164,494</td>
 <td style="font-weight: bold; text-align:right">66,984</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">330,891,117</a> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <td>162</td><td>2,897</td><td>15</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">742,084</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">38,497 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">325,602</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">377,985</td>
 <td style="font-weight: bold; text-align:right">8,318</td>
 <td style="font-weight: bold; text-align:right">3,493</td>
 <td style="font-weight: bold; text-align:right">181</td>
 <td style="font-weight: bold; text-align:right">999,836</td>
 <td style="font-weight: bold; text-align:right">4,706</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">212,471,616</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>286</td><td>5,519</td><td>213</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">493,657</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+8,404</td>
 <td style="font-weight: bold; text-align:right;">6,358 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+216</td>
 <td style="font-weight: bold; text-align:right">252,783</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+10,386</td>
 <td style="text-align:right;font-weight:bold;">234,516</td>
 <td style="font-weight: bold; text-align:right">2,300</td>
 <td style="font-weight: bold; text-align:right">3,383</td>
 <td style="font-weight: bold; text-align:right">44</td>
 <td style="font-weight: bold; text-align:right">13,545,303</td>
 <td style="font-weight: bold; text-align:right">92,820</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,931,041</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>296</td><td>22,952</td><td>11</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">289,140</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">40,883 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">516</td>
 <td style="font-weight: bold; text-align:right">4,260</td>
 <td style="font-weight: bold; text-align:right">602</td>
 <td style="font-weight: bold; text-align:right">5,870,506</td>
 <td style="font-weight: bold; text-align:right">86,502</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">67,865,632</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>235</td><td>1,660</td><td>12</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">289,046</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">27,136 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">N/A</td>
 <td style="font-weight: bold; text-align:right;">N/A</td>
 <td style="text-align:right;font-weight:bold;">N/A</td>
 <td style="font-weight: bold; text-align:right">617</td>
 <td style="font-weight: bold; text-align:right">6,182</td>
 <td style="font-weight: bold; text-align:right">580</td>
 <td style="font-weight: bold; text-align:right">4,465,338</td>
 <td style="font-weight: bold; text-align:right">95,508</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/spain-population/">46,753,788</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>162</td><td>1,723</td><td>10</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">276,583</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+1,803</td>
 <td style="font-weight: bold; text-align:right;">7,745 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+26</td>
 <td style="font-weight: bold; text-align:right">135,206</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+1,041</td>
 <td style="text-align:right;font-weight:bold;">133,632</td>
 <td style="font-weight: bold; text-align:right">8,944</td>
 <td style="font-weight: bold; text-align:right">201</td>
 <td style="font-weight: bold; text-align:right">6</td>
 <td style="font-weight: bold; text-align:right">5,061,332</td>
 <td style="font-weight: bold; text-align:right">3,670</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,379,196,659</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>4,987</td><td>178,076</td><td>272</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">235,561</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">34,043 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">168,646</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">32,872</td>
 <td style="font-weight: bold; text-align:right">263</td>
 <td style="font-weight: bold; text-align:right">3,896</td>
 <td style="font-weight: bold; text-align:right">563</td>
 <td style="font-weight: bold; text-align:right">4,318,650</td>
 <td style="font-weight: bold; text-align:right">71,422</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,466,601</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>257</td><td>1,776</td><td>14</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/peru/">Peru</a></td>
 <td style="font-weight: bold; text-align:right">203,736</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">5,738 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">92,929</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">105,069</td>
 <td style="font-weight: bold; text-align:right">1,077</td>
 <td style="font-weight: bold; text-align:right">6,184</td>
 <td style="font-weight: bold; text-align:right">174</td>
 <td style="font-weight: bold; text-align:right">1,227,691</td>
 <td style="font-weight: bold; text-align:right">37,267</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/peru-population/">32,943,514</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>162</td><td>5,741</td><td>27</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">186,525</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+9</td>
 <td style="font-weight: bold; text-align:right;">8,831 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">170,700</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+500</td>
 <td style="text-align:right;font-weight:bold;">6,994</td>
 <td style="font-weight: bold; text-align:right">533</td>
 <td style="font-weight: bold; text-align:right">2,227</td>
 <td style="font-weight: bold; text-align:right">105</td>
 <td style="font-weight: bold; text-align:right">4,348,880</td>
 <td style="font-weight: bold; text-align:right">51,915</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,768,916</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>449</td><td>9,486</td><td>19</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/iran/">Iran</a></td>
 <td style="font-weight: bold; text-align:right">177,938</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+2,011</td>
 <td style="font-weight: bold; text-align:right;">8,506 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+81</td>
 <td style="font-weight: bold; text-align:right">140,590</td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+2,133</td>
 <td style="text-align:right;font-weight:bold;">28,842</td>
 <td style="font-weight: bold; text-align:right">2,639</td>
 <td style="font-weight: bold; text-align:right">2,120</td>
 <td style="font-weight: bold; text-align:right">101</td>
 <td style="font-weight: bold; text-align:right">1,128,601</td>
 <td style="font-weight: bold; text-align:right">13,447</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/iran-population/">83,927,262</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>472</td><td>9,867</td><td>74</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">172,114</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">4,729 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">144,598</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">22,787</td>
 <td style="font-weight: bold; text-align:right">642</td>
 <td style="font-weight: bold; text-align:right">2,042</td>
 <td style="font-weight: bold; text-align:right">56</td>
 <td style="font-weight: bold; text-align:right">2,415,179</td>
 <td style="font-weight: bold; text-align:right">28,655</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">84,284,595</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>490</td><td>17,823</td><td>35</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">12</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">154,591</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">29,296 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">71,506</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">53,789</td>
 <td style="font-weight: bold; text-align:right">955</td>
 <td style="font-weight: bold; text-align:right">2,369</td>
 <td style="font-weight: bold; text-align:right">449</td>
 <td style="font-weight: bold; text-align:right">1,384,633</td>
 <td style="font-weight: bold; text-align:right">21,215</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,265,483</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>422</td><td>2,228</td><td>47</td>
 </tr>
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">13</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/chile/">Chile</a></td>
 <td style="font-weight: bold; text-align:right">142,759</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">2,283 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>

In [5]:
table = soup
columns = []

for header in table:
    header_row = header.find_all('tr')
    
    for hr in header_row:
        headers = hr.find_all('th')
        #print(headers)
        
        if len(headers) > 1:
            for i in range(14):
                data = headers[i]
                columns.append(data.text.strip())
                
columns

['#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop',
 '#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop',
 '#',
 'Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/\n1M pop']

In [6]:
tables = soup

country = []
total_cases = []
new_cases = []
total_deaths= []
new_deaths = []
total_recovered = []
new_recovered = []
active_cases = []
serious_critical = []
cases_1m =[]
deaths_1m=[]
total_tests = []
tests_1m=[]
population=[]

for table in tables:
    
    rows = table.find_all('tr')
    
    for r in rows:
        data = r.find_all('td')
        
        if len(data) > 1:
            
            d1 = data[1]
            country.append(d1.text.strip())
            
            d2 = data[2]
            total_cases.append(d2.text.strip())
             
            d3 = data[3]
            new_cases.append(d3.text.strip())
            
            d4 = data[4]
            total_deaths.append(d4.text.strip())
            
            d5 = data[5]
            new_deaths.append(d5.text.strip())
            
            d6 = data[6]
            total_recovered.append(d6.text.strip())
            
            d7 = data[7]
            new_recovered.append(d6.text.strip())
            
            d8 = data[8]
            active_cases.append(d8.text.strip())
            
            d9= data[9]
            serious_critical.append(d9.text.strip())
            
            d10= data[10]
            cases_1m.append(d10.text.strip())
            
            d11= data[11]
            deaths_1m.append(d11.text.strip())
            
            d12= data[12]
            total_tests.append(d12.text.strip())
            
            d13= data[13]
            tests_1m.append(d13.text.strip())
            
            d14= data[14]
            population.append(d14.text.strip())
    break

#### Converting to Dataframe

In [13]:
df = pd.DataFrame({'Country': country, 'Total_cases': total_cases, 'New_cases': new_cases,'Total_deaths':total_deaths,'New_deaths': new_deaths,'Total_recovered':total_recovered, 'Active_cases': active_cases,'Serious_critical':serious_critical,'Cases/1M':cases_1m, 'Deaths/1M':deaths_1m,'Total tests':total_tests,'Tests/1M':tests_1m,'Population':population})
df.head(10)

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical,Cases/1M,Deaths/1M,Total tests,Tests/1M,Population
0,North America,"2,334,502","+6,782","138,645",+706,"966,726","1,229,131","19,443",,,,,
1,South America,"1,219,723",+695,"52,857",+12,"564,277","602,589","11,932",,,,,
2,Europe,"2,136,663","+11,276","180,564",+380,"1,119,059","837,040","6,986",,,,,
3,Asia,"1,449,500","+25,230","36,684",+387,"877,604","535,212","15,092",,,,,
4,Africa,"206,861","+1,341","5,581",+13,"93,569","107,711",502,,,,,
5,Oceania,"8,887",+9,124,,"8,332",431,3,,,,,
6,,721,,15,,651,55,4,,,,,
7,World,"7,356,857","+45,333","414,470","+1,498","3,630,218","3,312,169","53,962",944,53.2,,,
8,USA,"2,047,147","+1,598","114,223",+75,"788,916","1,144,008","16,875","6,187",345,"22,164,494","66,984","330,891,117"
9,Brazil,"742,084",,"38,497",,"325,602","377,985","8,318","3,493",181,"999,836","4,706","212,471,616"

#### Continents dataframe

In [14]:
df_continents = df.iloc[:6,:8]
df_continents

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical
0,North America,"2,334,502","+6,782","138,645",+706,"966,726","1,229,131","19,443"
1,South America,"1,219,723",+695,"52,857",+12,"564,277","602,589","11,932"
2,Europe,"2,136,663","+11,276","180,564",+380,"1,119,059","837,040","6,986"
3,Asia,"1,449,500","+25,230","36,684",+387,"877,604","535,212","15,092"
4,Africa,"206,861","+1,341","5,581",+13,"93,569","107,711",502
5,Oceania,"8,887",+9,124,,"8,332",431,3

#### Stripping '+' from columns:

In [15]:
df_continents['New_cases'] = df_continents['New_cases'].map(lambda x: x.lstrip('+'))
df_continents['New_deaths'] = df_continents['New_deaths'].map(lambda x: x.lstrip('+'))
#df_continents['Serious_critical'] = df_continents['Serious_critical'].map(lambda x: x.lstrip('+'))
df_continents

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical
0,North America,"2,334,502","6,782","138,645",706,"966,726","1,229,131","19,443"
1,South America,"1,219,723",695,"52,857",12,"564,277","602,589","11,932"
2,Europe,"2,136,663","11,276","180,564",380,"1,119,059","837,040","6,986"
3,Asia,"1,449,500","25,230","36,684",387,"877,604","535,212","15,092"
4,Africa,"206,861","1,341","5,581",13,"93,569","107,711",502
5,Oceania,"8,887",9,124,,"8,332",431,3

#### Stripping Commas(,) from columns:

In [16]:
df_continents['Total_cases'] = df_continents['Total_cases'].map(lambda x: x.replace(',', ''))
df_continents['New_cases'] = df_continents['New_cases'].map(lambda x: x.replace(',', ''))
df_continents['Total_deaths'] = df_continents['Total_deaths'].map(lambda x: x.replace(',', ''))
df_continents['New_deaths'] = df_continents['New_deaths'].map(lambda x: x.replace(',', ''))
df_continents['Total_recovered'] = df_continents['Total_recovered'].map(lambda x: x.replace(',', ''))
df_continents['Active_cases'] = df_continents['Active_cases'].map(lambda x: x.replace(',', ''))
df_continents['Serious_critical'] = df_continents['Serious_critical'].map(lambda x: x.replace(',', ''))
df_continents

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical
0,North America,2334502,6782,138645,706,966726,1229131,19443
1,South America,1219723,695,52857,12,564277,602589,11932
2,Europe,2136663,11276,180564,380,1119059,837040,6986
3,Asia,1449500,25230,36684,387,877604,535212,15092
4,Africa,206861,1341,5581,13,93569,107711,502
5,Oceania,8887,9,124,,8332,431,3

#### Replacing no values with Zero '0' :

In [17]:
df_continents.iloc[5,4] = '0'
df_continents

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical
0,North America,2334502,6782,138645,706,966726,1229131,19443
1,South America,1219723,695,52857,12,564277,602589,11932
2,Europe,2136663,11276,180564,380,1119059,837040,6986
3,Asia,1449500,25230,36684,387,877604,535212,15092
4,Africa,206861,1341,5581,13,93569,107711,502
5,Oceania,8887,9,124,0,8332,431,3

In [19]:
df_continents.dtypes

Country             object
Total_cases         object
New_cases           object
Total_deaths        object
New_deaths          object
Total_recovered     object
Active_cases        object
Serious_critical    object
dtype: object

In [20]:
df_continents = df_continents.astype({'Country':object,'Total_cases': int,'New_cases':int,'New_deaths':int, 'Total_recovered':int,'Active_cases':int,'Serious_critical': int,'Total_deaths':int })

In [21]:
df_continents.to_csv('continents.csv', index=False)

#### Countries dataframe

In [104]:
df_countries = df.iloc[8:222,:]
df_countries.reset_index(inplace=True)
df_countries.drop('index',axis=1,inplace=True)
df_countries

/home/tarun/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical,Cases/1M,Deaths/1M,Total tests,Tests/1M,Population
0,USA,"2,047,147","+1,598","114,223",+75,"788,916","1,144,008","16,875","6,187",345,"22,164,494","66,984","330,891,117"
1,Brazil,"742,084",,"38,497",,"325,602","377,985","8,318","3,493",181,"999,836","4,706","212,471,616"
2,Russia,"493,657","+8,404","6,358",+216,"252,783","234,516","2,300","3,383",44,"13,545,303","92,820","145,931,041"
3,UK,"289,140",,"40,883",,N/A,N/A,516,"4,260",602,"5,870,506","86,502","67,865,632"
4,Spain,"289,046",,"27,136",,N/A,N/A,617,"6,182",580,"4,465,338","95,508","46,753,788"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Caribbean Netherlands,7,,,,7,0,,267,,424,"16,178","26,209"
210,St. Barth,6,,,,6,0,,608,,152,"15,392","9,875"
211,Lesotho,4,,,,2,2,,2,,"1,515",708,"2,141,255"
212,Anguilla,3,,,,3,0,,200,,41,"2,734","14,995"
213,Saint Pierre Miquelon,1,,,,1,0,,173,,,,"5,795"

#### Stripping '+' from columns:

In [105]:
df_countries['New_cases'] = df_countries['New_cases'].map(lambda x: x.lstrip('+'))
df_countries['New_deaths'] = df_countries['New_deaths'].map(lambda x: x.lstrip('+'))
df_countries.head(10)

/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical,Cases/1M,Deaths/1M,Total tests,Tests/1M,Population
0,USA,"2,047,147","1,598","114,223",75,"788,916","1,144,008","16,875","6,187",345,"22,164,494","66,984","330,891,117"
1,Brazil,"742,084",,"38,497",,"325,602","377,985","8,318","3,493",181,"999,836","4,706","212,471,616"
2,Russia,"493,657","8,404","6,358",216,"252,783","234,516","2,300","3,383",44,"13,545,303","92,820","145,931,041"
3,UK,"289,140",,"40,883",,N/A,N/A,516,"4,260",602,"5,870,506","86,502","67,865,632"
4,Spain,"289,046",,"27,136",,N/A,N/A,617,"6,182",580,"4,465,338","95,508","46,753,788"
5,India,"276,583","1,803","7,745",26,"135,206","133,632","8,944",201,6,"5,061,332","3,670","1,379,196,659"
6,Italy,"235,561",,"34,043",,"168,646","32,872",263,"3,896",563,"4,318,650","71,422","60,466,601"
7,Peru,"203,736",,"5,738",,"92,929","105,069","1,077","6,184",174,"1,227,691","37,267","32,943,514"
8,Germany,"186,525",9,"8,831",,"170,700","6,994",533,"2,227",105,"4,348,880","51,915","83,768,916"
9,Iran,"177,938","2,011","8,506",81,"140,590","28,842","2,639","2,120",101,"1,128,601","13,447","83,927,262"

#### Stripping ',' from columns values:

In [106]:
df_countries['Total_cases'] = df_countries['Total_cases'].map(lambda x: x.replace(',', ''))
df_countries['New_cases'] = df_countries['New_cases'].map(lambda x: x.replace(',', ''))
df_countries['Total_deaths'] = df_countries['Total_deaths'].map(lambda x: x.replace(',', ''))
df_countries['New_deaths'] = df_countries['New_deaths'].map(lambda x: x.replace(',', ''))
df_countries['Total_recovered'] = df_countries['Total_recovered'].map(lambda x: x.replace(',', ''))
df_countries['Active_cases'] = df_countries['Active_cases'].map(lambda x: x.replace(',', ''))
df_countries['Serious_critical'] = df_countries['Serious_critical'].map(lambda x: x.replace(',', ''))
df_countries['Cases/1M'] = df_countries['Cases/1M'].map(lambda x: x.replace(',', ''))
df_countries['Deaths/1M'] = df_countries['Deaths/1M'].map(lambda x: x.replace(',', ''))
df_countries['Total tests'] = df_countries['Total tests'].map(lambda x: x.replace(',', ''))
df_countries['Tests/1M'] = df_countries['Tests/1M'].map(lambda x: x.replace(',', ''))
df_countries['Population'] = df_countries['Population'].map(lambda x: x.replace(',', ''))
df_countries

/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical,Cases/1M,Deaths/1M,Total tests,Tests/1M,Population
0,USA,2047147,1598,114223,75,788916,1144008,16875,6187,345,22164494,66984,330891117
1,Brazil,742084,,38497,,325602,377985,8318,3493,181,999836,4706,212471616
2,Russia,493657,8404,6358,216,252783,234516,2300,3383,44,13545303,92820,145931041
3,UK,289140,,40883,,N/A,N/A,516,4260,602,5870506,86502,67865632
4,Spain,289046,,27136,,N/A,N/A,617,6182,580,4465338,95508,46753788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Caribbean Netherlands,7,,,,7,0,,267,,424,16178,26209
210,St. Barth,6,,,,6,0,,608,,152,15392,9875
211,Lesotho,4,,,,2,2,,2,,1515,708,2141255
212,Anguilla,3,,,,3,0,,200,,41,2734,14995
213,Saint Pierre Miquelon,1,,,,1,0,,173,,,,5795

#### Replacing empty values with null

In [107]:
df_countries.loc[df_countries['New_cases'] == '','New_cases'] = np.nan
df_countries.loc[df_countries['Total_deaths'] == '','Total_deaths'] = np.nan
df_countries.loc[df_countries['New_deaths'] == '','New_deaths'] = np.nan
df_countries.loc[df_countries['Total_recovered'] == 'N/A','Total_recovered'] = np.nan
df_countries.loc[df_countries['Active_cases'] == 'N/A','Active_cases'] = np.nan
df_countries.loc[df_countries['Serious_critical'] == '','Serious_critical'] = np.nan
df_countries.loc[df_countries['Cases/1M'] == '','Cases/1M'] = np.nan
df_countries.loc[df_countries['Deaths/1M'] == '','Deaths/1M'] = np.nan
df_countries.loc[df_countries['Total tests'] == '','Total tests'] = np.nan
df_countries.loc[df_countries['Tests/1M'] == '','Tests/1M'] = np.nan
df_countries.loc[df_countries['Population'] == '','Population'] = np.nan
df_countries

/home/tarun/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Country,Total_cases,New_cases,Total_deaths,New_deaths,Total_recovered,Active_cases,Serious_critical,Cases/1M,Deaths/1M,Total tests,Tests/1M,Population
0,USA,2047147,1598,114223,75,788916,1144008,16875,6187,345,22164494,66984,330891117
1,Brazil,742084,NaN,38497,NaN,325602,377985,8318,3493,181,999836,4706,212471616
2,Russia,493657,8404,6358,216,252783,234516,2300,3383,44,13545303,92820,145931041
3,UK,289140,NaN,40883,NaN,NaN,NaN,516,4260,602,5870506,86502,67865632
4,Spain,289046,NaN,27136,NaN,NaN,NaN,617,6182,580,4465338,95508,46753788
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Caribbean Netherlands,7,NaN,NaN,NaN,7,0,NaN,267,NaN,424,16178,26209
210,St. Barth,6,NaN,NaN,NaN,6,0,NaN,608,NaN,152,15392,9875
211,Lesotho,4,NaN,NaN,NaN,2,2,NaN,2,NaN,1515,708,2141255
212,Anguilla,3,NaN,NaN,NaN,3,0,NaN,200,NaN,41,2734,14995
213,Saint Pierre Miquelon,1,NaN,NaN,NaN,1,0,NaN,173,NaN,NaN,NaN,5795

In [108]:
df_countries.dtypes

Country             object
Total_cases         object
New_cases           object
Total_deaths        object
New_deaths          object
Total_recovered     object
Active_cases        object
Serious_critical    object
Cases/1M            object
Deaths/1M           object
Total tests         object
Tests/1M            object
Population          object
dtype: object

In [114]:
df_countries.iloc[:,1:5] = df_countries.iloc[:,1:5].astype("Float64").astype("Int64")

/home/tarun/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/tarun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [115]:
df_countries.iloc[:,1:5]

    Total_cases New_cases Total_deaths New_deaths
0       2047147      1598       114223         75
1        742084      <NA>        38497       <NA>
2        493657      8404         6358        216
3        289140      <NA>        40883       <NA>
4        289046      <NA>        27136       <NA>
..          ...       ...          ...        ...
209           7      <NA>         <NA>       <NA>
210           6      <NA>         <NA>       <NA>
211           4      <NA>         <NA>       <NA>
212           3      <NA>         <NA>       <NA>
213           1      <NA>         <NA>       <NA>

[214 rows x 4 columns]

#### Saving the dataframe to CSV

In [118]:
df_countries.to_csv('countries.csv', index=False)